#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.cart {
  background: #ffff;
  color: black;
  max-width: 320px;

}
.products-list {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  /* padding: 2em; */
  max-width: 320px;
  border: solid 0.7px;
  border-radius: 26px;
  margin: 22px 8px ; 
}

.product-card > img {
  width: 100%;
  border-radius: 22px 22px 0 0; 
  
}

.product-info {
  display: flex;
justify-content: space-around;
}